h1{
  background-color: black;
  text-align: center;
  color:gold;
  margin-top: 0px;
  margin-bottom: 40px;

}
.movie-list{
  /* display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  min-width: 340px; */

  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(340px, 1fr));
  gap: 15px;
  justify-items: center;
}

.movie-container{
  /* background-color: aliceblue; */
  width: 340px;
  margin:10px;
}
.movie-pose{
  height: 640px;
  width: 100%;
  object-fit:cover;
}

.movie-name{
  margin-top: 5px;
  margin-bottom: 5px;
}

.align-spec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.movie-summary{
  /* height:min-content; */
  height: 100px;
  width: 100%;
  overflow:auto;
  

}
.cnt-btn{
  display: flex;
}
.btn-1{
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: green;
  border:none;
  border-radius: 50%;
}
.btn-2{
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: red;
  border:none;
  border-radius: 50%;
}

.movie-summary-green{
background-color: green;

}

.movie-summary-red{
  background-color: crimson;
}

.Movie-Add-Form{
  display:flex;
  flex-direction: column;
  gap:10px;
  max-width: 500px;
  margin: auto;
  
  
}